<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Guided Navigation Grid" debug="false" includeentityhelper="false">
  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
        exec nalpac_GetProductsByCategory
        @CategoryID  = @CatID, 
          @pagenum = @pgnum,
          @pagesize = @PageSize,
          @searchstr = @SearchTerm,
          @GenreIDs = @GenreIDs,
          @sortby = @sortby
      ]]>
    </sql>
    <queryparam paramname="@CatID" paramtype="runtime" requestparamname="CatID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@sename" paramtype="runtime" requestparamname="sename" sqlDataType="varchar" defvalue="100"  validationpattern="" />
    <queryparam paramname="@PageSize" paramtype="request" requestparamname="pagesize" sqlDataType="int" defvalue="12"  validationpattern="" />
    <queryparam paramname="@pgnum" paramtype="request" requestparamname="pagenum" sqlDataType="int" defvalue="1"  validationpattern="" />
    <queryparam paramname="@sortby" paramtype="request" requestparamname="sortby" sqlDataType="varchar" defvalue=""  validationpattern="" />
    <queryparam paramname="@GenreIDs" paramtype="request" requestparamname="genre" sqlDataType="varchar" defvalue=""  validationpattern="^[0-9\-]*$" />
    <queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue=""  validationpattern="" />
  </query>
  <query name="Categories" rowElementName="Category">
    <sql>
      <![CDATA[
        Select Categoryid, Name, Description, ImageFileNameOverride, SETitle from Category where Categoryid = @CatID
      ]]>
    </sql>
    <queryparam paramname="@CatID" paramtype="runtime" requestparamname="CatID" sqlDataType="int" defvalue="0"  validationpattern="" />
  </query>
  <query name="SubCats" rowElementName="SubCat">
    <sql>
      <![CDATA[
        Select Categoryid, Name, Description, ImageFileNameOverride, sename from Category where parentCategoryid = @CatID
      ]]>
    </sql>
    <queryparam paramname="@CatID" paramtype="runtime" requestparamname="CatID" sqlDataType="int" defvalue="0"  validationpattern="" />
  </query>
  <query name="customers" rowElementName="custs">
    <sql>
      <![CDATA[
          select 0 customerid, 0 shoppingcartrecid, 0 shippingaddressid, 0 billingaddressid, 1 storeid where @customerid = 0
          union
          select top 1 cu.customerid,
            coalesce(ca.shoppingcartrecid , 0) shoppingcartrecid,
            coalesce(cu.shippingaddressid, 0) shippingaddressid,
            coalesce(cu.billingaddressid, 0) billingaddressid,
            cu.storeid
          from customer cu
          left join shoppingcart ca
          on cu.customerid = ca.customerid
                where cu.customerid = @customerid
                  and @customerid not like 0  
    ]]>
    </sql>
    <queryparam paramname="@customerid" paramtype="system" requestparamname="CustomerID" sqlDataType="int" defvalue="0"  validationpattern="" />
  </query>


  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
      <!-- Paging Include  -->
      <xsl:import href="paging.xslt" />
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:variable name="CategoryID">
        <xsl:value-of select="/root/Categories/Category/Categoryid" />
      </xsl:variable>
      <xsl:variable name="EntityDescription">
        <xsl:value-of select="/root/Categories/Category/Description" />
      </xsl:variable>
      <xsl:variable name="EntitySETitle">
        <xsl:value-of select="/root/Categories/Category/Name" />
      </xsl:variable>
      <xsl:variable name="ProductIdsOnPage">
        <xsl:for-each select="/root/Products/Product/ProductID">
          <xsl:value-of select="." />
          <xsl:if test="position() != last()">
            <xsl:text>,</xsl:text>
          </xsl:if>
        </xsl:for-each>
      </xsl:variable>
      <!--<xsl:variable name="AvailablePromotions" select="aspdnsf:XmlPackageAsXml('availablePromotions.xml.config', concat('productIdList=', $ProductIdsOnPage))/root/Promotions" />-->

      <xsl:template match="/">
        <div class="navbar navbar-default topnav" role="navigation">
          <ul class="nav nav-pills navbar-left">
            <li>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#headerentity">
                <xsl:value-of select="$EntitySETitle" />
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#filterProducts">
                <xsl:text>Filter</xsl:text>
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#sortProducts">
                <!--<a href="#pagingsort">Sort</a>-->
                <xsl:text>Sort</xsl:text>
              </button>
            </li>
          </ul>
        </div>
        <xsl:choose>
          <xsl:when test="count(/root/SubCats/SubCat) > 0">
            <div class="row">
              <div class="panel panel-default">
                <div class="panel-body">
                  <xsl:apply-templates select="/root/SubCats/SubCat" />
                </div>
              </div>
            </div>
          </xsl:when>
        </xsl:choose>
        <xsl:if test="string-length(root/Categories/Category/Description) &gt; 0">
          <div class="modal fade in" id="headerentity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">
                        <xsl:text>X</xsl:text>
                      </span>
                    </button>
                    <h3 class="panel-title">
                      <xsl:value-of select="$EntitySETitle" />
                    </h3>
                  </div>
                  <div class="panel-body">

                    <xsl:value-of select="root/Categories/Category/Description" disable-output-escaping="yes" />
                  </div>
                  <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </xsl:if>
        <xsl:choose>
          <xsl:when test="count(/root/Products/Product) = 0">
            <xsl:choose>
              <xsl:when test="/root/QueryString/searchterm">
                <xsl:text>No</xsl:text>
              </xsl:when>
              <xsl:otherwise>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <xsl:text>There is no products for this category</xsl:text>
                  </div>
                </div>
              </xsl:otherwise>
            </xsl:choose>
          </xsl:when>
          <xsl:otherwise>

            <xsl:call-template name="ProductControl">
              <xsl:with-param name="uniqueID" select="'Top'" />
            </xsl:call-template>

            <xsl:call-template name="ProductControl">
              <xsl:with-param name="uniqueID" select="'Top'" />
            </xsl:call-template>
            
            
            <!--  add CatID to this xml package  -->
            <xsl:value-of select="aspdnsf:XmlPackage('guidednavigation.category.xml.config', concat('CatID=', Categoryid) )" disable-output-escaping="yes" />
            <!--<xsl:value-of select="aspdnsf:XmlPackage('guidednavigationcategory.xml.config', concat('CatID=', Categoryid) )" disable-output-escaping="yes" />-->
            
            
            <div class="container-fluid">
              <div class="row">
                <xsl:apply-templates select="/root/Products/Product" />
              </div>
            </div>
            <xsl:call-template name="paging" />
          </xsl:otherwise>
        </xsl:choose>
        <xsl:value-of select="aspdnsf:XmlPackage('topcategories.xml.config')" disable-output-escaping="yes" />
        <script type="text/javascript">
          $(function () {
          $('[data-toggle="tooltip"]').tooltip()
          })
        </script>

      </xsl:template>

      <xsl:template match="SubCat">
        <!--Select Categoryid, Name, Description, ImageFileNameOverride, sename from Category where parentCategoryid = @CatID-->

        <xsl:param name="subcatname" select="Name"></xsl:param>
        <xsl:param name="subcatdesc" select="Description"></xsl:param>
        <xsl:param name="subcatid" select="Categoryid"></xsl:param>
        <xsl:param name="subcatimg" select="ImageFileNameOverride"></xsl:param>
        <xsl:param name="subcatsename" select="sename"></xsl:param>
        <div class="col-md-3">
          <div class="row">
            <strong>
              <xsl:value-of select="$subcatname"></xsl:value-of>
            </strong>
          </div>
          <div class="row">
            <a class="thumbnail">
              <xsl:attribute name="href">
                <xsl:value-of select="concat('http://localhost/nalpac4/c-', $subcatid, '.aspx')"></xsl:value-of>
              </xsl:attribute>
              <img>
                <xsl:attribute name="src">
                  <xsl:value-of select="concat('http://localhost/nalpac4/images/category/icon/', $subcatid, '.jpg')"></xsl:value-of>
                </xsl:attribute>
              </img>
            </a>
          </div>
        </div>
      </xsl:template>


      <xsl:template match="Product">
        <div class="col-xs-12 col-sm-6 col-md-3 product-cell">
          <xsl:call-template name="ProductCell"></xsl:call-template>
        </div>
      </xsl:template>

      <xsl:template name="ProductCell">
        <xsl:variable name="pName" select="/root/Products/Product/NAME"></xsl:variable>
        <xsl:variable name="pSEAltText" select="/root/Products/Product/NAME"></xsl:variable>
        <xsl:variable name="SKU" select="/root/Products/Product/SKU"></xsl:variable>
        <xsl:variable name="plink" select="concat('http://localhost/nalpac4/p-', /root/Products/Product/ProductID, '-', /root/Products/Product/SEName, '.aspx')"></xsl:variable>
        <xsl:variable name="sename" select="/root/Products/Product/SEName"></xsl:variable>
        <xsl:variable name="productId" select="ProductID" />
        <xsl:variable name="CustomerSalePrice" select="0" />
        <xsl:variable name="apos">'</xsl:variable>
        <a>
          <xsl:attribute name="href">
            <xsl:value-of select="concat('http://localhost/nalpac4/p-', ProductID, '-', SEName, '.aspx')"/>
          </xsl:attribute>
          <xsl:attribute name="class">
            <xsl:text>thumbnail</xsl:text>
          </xsl:attribute>
          <img class="product-image img-responsive">
            <xsl:attribute name="id">
              <xsl:value-of select="concat('ProductPic', ProductID)"></xsl:value-of>
            </xsl:attribute>
            <xsl:attribute name="name">
              <xsl:value-of select="SETitle"></xsl:value-of>
            </xsl:attribute>
            <xsl:attribute name="alt">
              <xsl:value-of select="SEAltText"></xsl:value-of>
            </xsl:attribute>
            <xsl:attribute name="src">
              <xsl:value-of select="iconimage"></xsl:value-of>
            </xsl:attribute>
            <xsl:attribute name="onerror">
              <xsl:text>this.src='http://localhost/nalpac4/images/image-not-found.png'</xsl:text>
            </xsl:attribute>
          </img>
        </a>
        <div class="caption">
          <div class="guidedNavNameWrap textwrap">
            <a>
              <xsl:attribute name="href">
                <xsl:value-of select="concat('http://localhost/nalpac4/p-', ProductID, '-', SEName, '.aspx')"/>
              </xsl:attribute>
              <xsl:value-of select="NAME" disable-output-escaping="yes" />
            </a>
          </div>
          <div>
            <span style="font-size:1.1em;color:red;">
              <xsl:text>Price: </xsl:text>
              <!-- line 1504 of XSLTExtensionBase.cs-->
              <xsl:value-of select="format-number($CustomerSalePrice, '$#.##')" disable-output-escaping="yes" />
            </span>


          </div>



          <div style="float:right;text-decoration:line-through;">
            <xsl:value-of select="format-number(Price, '$#.00')" disable-output-escaping="yes"/>
          </div>
          <div class="guidedNavNameWrap">
            <xsl:text>Mfg #:</xsl:text>
            <xsl:value-of select="VariantManufacturerPartNumber"></xsl:value-of>
          </div>
          <div class="guidedNavNameWrap">
            <xsl:text>Item #:</xsl:text>
            <xsl:value-of select="SKU"></xsl:value-of>
          </div>
          <div>
            <xsl:text>customer </xsl:text>
            <xsl:value-of select="/root/customers/custs/customerid"></xsl:value-of>
          </div>
          <div class="guidedNavNameWrap">
            <xsl:text>Manufacturer:</xsl:text>
            <a>
              <xsl:attribute name="href">
                <xsl:value-of select="concat('http://localhost/nalpac4/m-', manufacturerid, '-', msename, '.aspx')"/>
              </xsl:attribute>
              <xsl:attribute name="class">
                <xsl:text>textwrap</xsl:text>
              </xsl:attribute>
              <xsl:value-of select="ManufacturerPartNumber"></xsl:value-of>
            </a>
          </div>
          <div class="guidedNavNameWrap">
            <xsl:text>UPC:</xsl:text>
            <xsl:value-of select="SKUSuffix"></xsl:value-of>
          </div>
          <!--from out of the box-->
          <div class="entity-product-price-wrap grid-item-price-wrap">
            <xsl:value-of select="aspdnsf:GetVariantPrice(VariantID, '0', '0', '0', '0', '0', 'for sale', '0')" disable-output-escaping="yes"/>
          </div>          
          <div>
            <input>
              <xsl:attribute name="type">
                <xsl:text>number</xsl:text>
              </xsl:attribute>
              <xsl:attribute name="value">
                <xsl:text>1</xsl:text>
              </xsl:attribute>
              <xsl:attribute name="name">
                <xsl:value-of select="concat('Quantity_',ProductID,'_', VariantID)" disable-output-escaping="yes" />
              </xsl:attribute>
              <xsl:attribute name="id">
                <xsl:value-of select="concat('Quantity_',ProductID,'_', VariantID)" disable-output-escaping="yes" />
              </xsl:attribute>
              <xsl:attribute name="class">
                <xsl:text>col-md-6</xsl:text>
              </xsl:attribute>
              <xsl:attribute name="maxlength">
                <xsl:text>4</xsl:text>
              </xsl:attribute>
            </input>
            <!--<input type="text" value="1" name="Quantity_36516_36519" id="Quantity_36516_36519" class="form-control quantity-field" maxlength="4">-->
            <input>
              <xsl:attribute name="type">
                <xsl:text>button</xsl:text>
              </xsl:attribute>
              <xsl:attribute name="value">
                <xsl:text>Add to Cart</xsl:text>
              </xsl:attribute>
              <xsl:attribute name="name">
                <xsl:value-of select="concat('AddToCartButton_',ProductID,'_', VariantID)" disable-output-escaping="yes" />
              </xsl:attribute>
              <xsl:attribute name="id">
                <xsl:value-of select="concat('AddToCartButton_',ProductID,'_', VariantID)" disable-output-escaping="yes" />
              </xsl:attribute>
              <xsl:attribute name="class">
                <xsl:text>col-md-6</xsl:text>
              </xsl:attribute>
            </input>
            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
              <xsl:attribute name="id">
                <xsl:value-of select="concat('added-mod', ProdutID,'_', VariantID)" />
              </xsl:attribute>
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">
                        <xsl:text>X</xsl:text>
                      </span>
                    </button>
                    <h4 class="modal-title" id="mySmallModalLabel">Added to your Cart!</h4>
                  </div>
                  <div class="model-body">
                    <p>
                      <a>
                        <xsl:attribute name="href">
                          <xsl:value-of select="concat('http://localhost/nalpac4/p-', ProductID, '-', SEName, '.aspx')"/>
                        </xsl:attribute>
                        <xsl:attribute name="class">
                          <xsl:text>thumbnail</xsl:text>
                        </xsl:attribute>
                        <img class="product-image img-responsive">
                          <xsl:attribute name="id">
                            <xsl:value-of select="concat('ProductPic', ProductID)"></xsl:value-of>
                          </xsl:attribute>
                          <xsl:attribute name="name">
                            <xsl:value-of select="SETitle"></xsl:value-of>
                          </xsl:attribute>
                          <xsl:attribute name="alt">
                            <xsl:value-of select="SEAltText"></xsl:value-of>
                          </xsl:attribute>
                          <xsl:attribute name="src">
                            <xsl:value-of select="iconimage"></xsl:value-of>
                          </xsl:attribute>
                          <xsl:attribute name="onerror">
                            <xsl:text>this.src='http://localhost/nalpac4/images/image-not-found.png'</xsl:text>
                          </xsl:attribute>
                        </img>
                      </a>
                      <a>
                        <xsl:attribute name="href">
                          <xsl:value-of select="concat('http://localhost/nalpac4/p-', ProductID, '-', SEName, '.aspx')"/>
                        </xsl:attribute>
                        <xsl:value-of select="NAME" disable-output-escaping="yes" />
                      </a>
                      <br />
                      <span>
                        Your Price <xsl:value-of select="format-number($CustomerSalePrice, '#.00')" disable-output-escaping="yes"></xsl:value-of>
                      </span>
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a class="btn btn-default" href="http://localhost/nalpac4/shoppingcart.aspx">
                      <xsl:text>Click here view Cart</xsl:text>
                    </a>
                  </div>

                </div>
              </div>
            </div>
            <div id="login-mod" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLogginModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="myLogginModalLabel">Login needed</h1>
                  </div>
                  <div class="modal-body">
                    <p>
                      <xsl:text>You will need to login to add to your cart.</xsl:text>
                    </p>
                  </div>
                  <div class="modal-footer">
                    <a class="btn btn-default" href="http://localhost/nalpac4/signin.aspx">

                      <xsl:text>Click here Login</xsl:text>
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <xsl:choose>
            <xsl:when test="/root/customers/custs/customerid = '0'">
              <script type="text/javascript">
                $(document).ready(function () {
                $('#<xsl:value-of select="concat('AddToCartButton_',ProductID,'_', VariantID)" disable-output-escaping="yes" />').click(function () {

                $('#login-mod').modal('show');

                });
                });
              </script>
            </xsl:when>
            <xsl:otherwise>
              <script type="text/javascript">
                $(document).ready(function () {
                $('#<xsl:value-of select="concat('AddToCartButton_',ProductID,'_', VariantID)" disable-output-escaping="yes" />').click(function () {

                var quantity = $('#<xsl:value-of select="concat('Quantity_',ProductID,'_', VariantID)" disable-output-escaping="yes" />').val();
                var customerid = <xsl:value-of select="/root/customers/custs/customerid" disable-output-escaping="yes" />;
                var productid = <xsl:value-of select="ProductID"></xsl:value-of>;
                var variantid = <xsl:value-of select="VariantID"></xsl:value-of>;
                var shippingid = <xsl:value-of select="/root/customers/custs/shippingaddressid" disable-output-escaping="yes" />;
                var billingid = <xsl:value-of select="/root/customers/custs/billingaddressid" disable-output-escaping="yes" />;
                <!--var price = <xsl:value-of select="extprice"></xsl:value-of>;-->
                var price =  <xsl:value-of select="$CustomerSalePrice" disable-output-escaping="yes" />;
                var storeid = <xsl:value-of select="/root/customers/custs/storeid" disable-output-escaping="yes" />;

                $.ajax({

                type: 'POST',
                contentType: "application/json; charset=utf-8",
                url: 'http://localhost/nalpac4/nal_addtocart.aspx/nalpac_AddToCart',
                data: "{'customerid':'" + customerid + "','productid':'" + productid + "','variantid':'" + variantid + "','quantity':'" + quantity + "','shippingid':'" + shippingid + "','billingid':'" + billingid + "','price':'" + price + "','storeid':'" + storeid + "'}",
                async: true,
                success: function (response) {
                $('#<xsl:value-of select="concat('Quantity_',ProductID,'_', VariantID)" disable-output-escaping="yes" />').val(&quot;0&quot;);
                <!--alert("Record saved successfully..!!");-->
                $('#<xsl:value-of select="concat('added-mod', ProdutID,'_', VariantID)" disable-output-escaping="yes" />').modal('show');
                },
                error: function () {

                alert("Error");
                }
                });

                });
                });
              </script>



            </xsl:otherwise>
          </xsl:choose>

        </div>
      </xsl:template>

      <xsl:template match="Promotion">
        <xsl:value-of select="CallToAction" disable-output-escaping="yes" />
      </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>

</package>
