<?xml version="1.0" encoding="utf-8" ?>
<package displayname="Did you mean this" version="2.1" debug="false"  includeentityhelper="false">

  <query name="Searches" rowElementName="Search">
    <sql>
      <![CDATA[
                exec nalpac_DidYouMeanThis @SearchTerm
            ]]>
    </sql>
    <queryparam paramname="@SearchTerm"				paramtype="request"	requestparamname="searchterm"				sqlDataType="varchar"	defvalue=""	validationpattern="" />
  </query>

  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
      <xsl:output method="xml" omit-xml-declaration="yes" />
      <xsl:variable name="NewTerm" select="/root/Searches/Search/NewTerm" />

      <xsl:template match="/">
        <xsl:if test="string-length($NewTerm) &gt; 0">
              <p>
              <span  style="color: #dd4b39;font-size: 18px;">
                <xsl:text>Did you mean?  </xsl:text>
              </span>
                            <a>
                <xsl:attribute name="href">
                  <xsl:value-of select="concat('searchadv.aspx?searchterm=',$NewTerm)"></xsl:value-of>
                </xsl:attribute>
              <b><i style="color: #1a0dab; cursor: pointer;font-size: 18px;"><xsl:value-of select="$NewTerm"></xsl:value-of></i>
              </b>

              
              </a>
              </p>
        </xsl:if>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>
