<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Guided Navigation Grid" debug="false" includeentityhelper="false">
  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
        exec nalpac_GetProductsBySearch
          @pagenum = @pgnum,
          @pagesize = @PageSize,
          @searchstr = @SearchTerm,
          @GenreIDs = @GenreIDs,
          @sortby = @sortby
      ]]>
    </sql>
    <queryparam paramname="@PageSize" paramtype="request" requestparamname="pagesize" sqlDataType="int" defvalue="24"  validationpattern="" />
    <queryparam paramname="@pgnum" paramtype="request" requestparamname="pagenum" sqlDataType="int" defvalue="1"  validationpattern="" />
    <queryparam paramname="@sortby" paramtype="request" requestparamname="sortby" sqlDataType="varchar" defvalue=""  validationpattern="" />
    <queryparam paramname="@GenreIDs" paramtype="request" requestparamname="genre" sqlDataType="varchar" defvalue=""  validationpattern="^[0-9\-]*$" />
    <queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue=""  validationpattern="" />
  </query>
  <query name="Searches" rowElementName="Results">
    <sql>
      <![CDATA[exec nalpac_GetEntitiesBySearch
@searchstr = @SearchTerm
]]>
    </sql>
    <queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue=""  validationpattern="" />
  </query>
  <query name="customers" rowElementName="custs">
    <sql>
      <![CDATA[
select 0 customerid, 0 shoppingcartrecid, 0 shippingaddressid, 0 billingaddressid, 1 storeid where @customerid = 0
union
select top 1 cu.customerid,
  coalesce(ca.shoppingcartrecid , 0) shoppingcartrecid,
  coalesce(cu.shippingaddressid, 0) shippingaddressid,
  coalesce(cu.billingaddressid, 0) billingaddressid,
  cu.storeid
from customer cu
left join shoppingcart ca
on cu.customerid = ca.customerid
      where cu.customerid = @customerid
        and @customerid not like 0  
    ]]>
    </sql>
    <queryparam paramname="@customerid" paramtype="system" requestparamname="CustomerID" sqlDataType="int" defvalue="0"  validationpattern="" />
  </query>
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
      <!-- Paging Include  -->
      <xsl:import href="paging.xslt" />
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:variable name="ProductIdsOnPage">
        <xsl:for-each select="/root/Products/Product/ProductID">
          <xsl:value-of select="." />
          <xsl:if test="position() != last()">
            <xsl:text>,</xsl:text>
          </xsl:if>
        </xsl:for-each>
      </xsl:variable>

      <!--<xsl:variable name="AvailablePromotions" select="aspdnsf:XmlPackageAsXml('availablePromotions.xml.config', concat('productIdList=', $ProductIdsOnPage))/root/Promotions" />-->

      <xsl:template match="/">
        <div class="col-lg-9">
          <div class="col-lg-4">
            <xsl:value-of select="aspdnsf:XmlPackage('didyoumeanthis.xml.config')" disable-output-escaping="yes" />

          </div>
          <div class="col-lg-8">
            <xsl:choose>
              <xsl:when test="string-length(/root/QueryString/searchterm) &gt; 0">
                <div class="col-md-6 hidden-sm hidden-xs">
                  <p>
                    <span class="guidedHeaderLabel">Search Term:</span>
                    <xsl:text>&#160;</xsl:text>
                    <span class="guidedHeaderValue">
                      <xsl:value-of select="/root/QueryString/searchterm" />
                    </span>
                  </p>
                </div>
                <div class="col-md-5 hidden-sm hidden-xs">
                  <!--<h2>
                      <strong>Enter quantities</strong> then click Add All to Cart
                    </h2>-->
                </div>
                <!--<div class="col-md-1">
                    <div class="table-order">
                      <input id="tableOrderAddToCart" class="button call-to-action add-to-cart" type="Button" value="Add All to Cart" onclick="__doPostBack('tableOrderAddToCart',null);"></input>
                    </div>
                  </div>-->
              </xsl:when>
              <xsl:when test="/root/QueryString/searchterm">
                <h1>
                  <span class="guidedHeaderLabel">Enter in a search word or phrase:</span>
                </h1>
              </xsl:when>
            </xsl:choose>
          </div>
          <div class="row">
            <div id="CategoryPage" class="col-md-12 guidedNavContents">
              <div class="row">
                <div id="categoryContent">
                  <xsl:choose>
                    <xsl:when test="count(/root/Products/Product) = 0">
                      <xsl:choose>
                        <xsl:when test="/root/QueryString/searchterm">
                          <!--<xsl:value-of select="aspdnsf:StringResource('search.aspx.9')" disable-output-escaping="yes" />-->
                          <xsl:text>Your search did not result in any matches</xsl:text>
                        </xsl:when>
                        <xsl:otherwise>
                          <span>
                            <xsl:text>No Products Listed</xsl:text>
                          </span>
                        </xsl:otherwise>
                      </xsl:choose>
                    </xsl:when>
                    <xsl:otherwise>
                      <div class="pagerArea topPagerArea">
                        <xsl:call-template name="ProductControl">
                          <xsl:with-param name="uniqueID" select="'Top'" />
                        </xsl:call-template>
                      </div>
                      <xsl:choose>
                        <xsl:when test="/root/Searches/Results">
                          <div>
                            <h2>Matching Results</h2>
                            <xsl:apply-templates select="/root/Searches/Results"></xsl:apply-templates>
                          </div>
                        </xsl:when>
                      </xsl:choose>

                      <div class="row row-eq-height ">
                        <xsl:apply-templates select="/root/Products/Product" />
                      </div>
                      <div class="row">
                        <div style="clear:both;"></div>
                        <div class="col-md-9 pagerArea bottomPagerArea">
                          <xsl:call-template name="paging" />
                          <div style="clear:both;"></div>
                        </div>

                      </div>

                    </xsl:otherwise>
                  </xsl:choose>
                </div>
              </div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
        <div class="col-lg-3">
          <xsl:value-of select="aspdnsf:XmlPackage('matchingsearch.xml.config')" disable-output-escaping="yes" />
          <!--<xsl:value-of select="aspdnsf:XmlPackage('matchingcategories.xml.config')" disable-output-escaping="yes" />
          <xsl:value-of select="aspdnsf:XmlPackage('matchingmanufacturers.xml.config')" disable-output-escaping="yes" />-->

          <xsl:value-of select="aspdnsf:XmlPackage('topsearches.xml.config')" disable-output-escaping="yes" />
          <xsl:value-of select="aspdnsf:XmlPackage('topcategories.xml.config')" disable-output-escaping="yes" />

        </div>

        <script type="text/javascript">
          $(function () {
          $('[data-toggle="tooltip"]').tooltip()
          })
        </script>
        <script>
          $("#searchin").focus();
        </script>
        <!--<script type="text/javascript" src="jscripts/guidednavigation.js"></script>-->

      </xsl:template>

      <xsl:template match="Product">
        <xsl:choose>
          <xsl:when test="position() mod 4 = 1 and position() &gt; 1">
            <xsl:text disable-output-escaping="yes">&lt;/div&gt;&lt;div class="row  row-eq-height"&gt;</xsl:text>
          </xsl:when>
        </xsl:choose>

        <div class="col-xs-12 col-sm-6 col-md-3 product-cell">
          <div class="thumbnail">
            <xsl:call-template name="ProductCell"></xsl:call-template>
          </div>
        </div>
      </xsl:template>

      <xsl:template match="Results">
        <button  class="btn btn-default">
          <a>
            <xsl:attribute name="href">
              <xsl:value-of select="link"></xsl:value-of>
            </xsl:attribute>
            <xsl:value-of select="name"></xsl:value-of>
          </a>
        </button>
      </xsl:template>

      <xsl:template name="ProductCell">
        <!--<xsl:param name="pName" select="aspdnsf:GetMLValue(Name)"></xsl:param>-->
        <xsl:variable name="pName" select="/root/Products/Product/NAME"></xsl:variable>
        <!--<xsl:param name="pSEAltText" select="aspdnsf:GetMLValue(SEAltText)"></xsl:param>-->
        <xsl:variable name="pSEAltText" select="/root/Products/Product/NAME"></xsl:variable>
        <xsl:variable name="SKU" select="/root/Products/Product/SKU"></xsl:variable>
        <xsl:variable name="plink" select="concat('~/p-', /root/Products/Product/ProductID, '-', /root/Products/Product/SEName, '.aspx')"></xsl:variable>
        <xsl:variable name="sename" select="/root/Products/Product/SEName"></xsl:variable>
        <!--<xsl:param name="AltText">
          <xsl:choose>
            <xsl:when test="$pSEAltText=''">
              <xsl:value-of select="$pName" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="$pSEAltText" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:param>-->
        <xsl:variable name="productId" select="ProductID" />
        <!--<xsl:if test="string-length($AvailablePromotions) &gt; 0">
          <div class="guidedNavPromoWrap">
            <xsl:apply-templates select="$AvailablePromotions/Promotion[ProductId=$productId]" />
          </div>
        </xsl:if>-->

        <div class="caption">
          <a>
            <xsl:attribute name="href">
              <xsl:value-of select="concat('~/p-', ProductID, '-', SEName, '.aspx')"/>
            </xsl:attribute>
            <img class="product-image img-responsive">
              <xsl:attribute name="id">
                <xsl:value-of select="concat('ProductPic', ProductID)"></xsl:value-of>
              </xsl:attribute>
              <xsl:attribute name="name">
                <xsl:value-of select="SETitle"></xsl:value-of>
              </xsl:attribute>
              <xsl:attribute name="alt">
                <xsl:value-of select="SEAltText"></xsl:value-of>
              </xsl:attribute>
              <xsl:attribute name="src">
                <xsl:value-of select="iconimage"></xsl:value-of>
              </xsl:attribute>
            </img>
          </a>
        </div>
        <div class="caption">
          <div class="guidedNavNameWrap">
            <a>
              <xsl:attribute name="href">
                <xsl:value-of select="concat('~/p-', ProductID, '-', SEName, '.aspx')"/>
              </xsl:attribute>
              <xsl:value-of select="NAME" disable-output-escaping="yes" />
            </a>
          </div>
          <div>
            <span style="font-size:1.1em;color:red;">
              <xsl:text>Price: 0</xsl:text>
              <!-- line 1504 of XSLTExtensionBase.cs-->
              <!--<xsl:value-of select="format-number(aspdnsf:nalpacGetCustomPrice(VariantID), '$#.##')" disable-output-escaping="yes" />-->
            </span>


          </div>
          <div style="float:right;text-decoration:line-through;font-size:.8em;">
            <xsl:value-of select="format-number(Price, '$#.00')" disable-output-escaping="yes"/>
          </div>
          <div class="guidedNavNameWrap">
            <xsl:text>Mfg #:</xsl:text>
            <xsl:value-of select="VariantManufacturerPartNumber"></xsl:value-of>
          </div>
          <div class="guidedNavNameWrap">
            <xsl:text>Item #:</xsl:text>
            <xsl:value-of select="SKU"></xsl:value-of>
          </div>
          <div class="guidedNavNameWrap">
            <xsl:text>Manufacturer:</xsl:text>
            <a>
              <xsl:attribute name="href">
                <xsl:value-of select="concat('~/m-', manufacturerid, '-', msename, '.aspx')"/>
              </xsl:attribute>
              <xsl:value-of select="ManufacturerPartNumber"></xsl:value-of>
            </a>
          </div>
          <div class="guidedNavNameWrap">
            <xsl:text>UPC:</xsl:text>
            <xsl:value-of select="SKUSuffix"></xsl:value-of>
          </div>
          <div class="guidedNavNameWrap">
            <xsl:value-of select="firstreceiveddate"></xsl:value-of>
          </div>
          <div>
            <div>
              <input>
                <xsl:attribute name="type">
                  <xsl:text>number</xsl:text>
                </xsl:attribute>
                <xsl:attribute name="value">
                  <xsl:text>1</xsl:text>
                </xsl:attribute>
                <xsl:attribute name="name">
                  <xsl:value-of select="concat('Quantity_',ProductID,'_', VariantID)" disable-output-escaping="yes" />
                </xsl:attribute>
                <xsl:attribute name="id">
                  <xsl:value-of select="concat('Quantity_',ProductID,'_', VariantID)" disable-output-escaping="yes" />
                </xsl:attribute>
                <xsl:attribute name="class">
                  <xsl:text>col-md-6</xsl:text>
                </xsl:attribute>
                <xsl:attribute name="maxlength">
                  <xsl:text>4</xsl:text>
                </xsl:attribute>
              </input>
              <!--<input type="text" value="1" name="Quantity_36516_36519" id="Quantity_36516_36519" class="form-control quantity-field" maxlength="4">-->
              <input>
                <xsl:attribute name="type">
                  <xsl:text>button</xsl:text>
                </xsl:attribute>
                <xsl:attribute name="value">
                  <xsl:text>Add to Cart</xsl:text>
                </xsl:attribute>
                <xsl:attribute name="name">
                  <xsl:value-of select="concat('AddToCartButton_',ProductID,'_', VariantID)" disable-output-escaping="yes" />
                </xsl:attribute>
                <xsl:attribute name="id">
                  <xsl:value-of select="concat('AddToCartButton_',ProductID,'_', VariantID)" disable-output-escaping="yes" />
                </xsl:attribute>
                <xsl:attribute name="class">
                  <xsl:text>col-md-6</xsl:text>
                </xsl:attribute>
              </input>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
              <xsl:attribute name="id">
                <xsl:value-of select="concat('added-mod', ProdutID,'_', VariantID)" />
              </xsl:attribute>
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">
                        <xsl:text>X</xsl:text>
                      </span>
                    </button>
                    <h4 class="modal-title" id="mySmallModalLabel">Added to your Cart!</h4>
                  </div>
                  <div class="model-body">
                    <p>
                      <a>
                        <xsl:attribute name="href">
                          <xsl:value-of select="concat('~/p-', ProductID, '-', SEName, '.aspx')"/>
                        </xsl:attribute>
                        <xsl:attribute name="class">
                          <xsl:text>thumbnail</xsl:text>
                        </xsl:attribute>
                        <img class="product-image img-responsive">
                          <xsl:attribute name="id">
                            <xsl:value-of select="concat('ProductPic', ProductID)"></xsl:value-of>
                          </xsl:attribute>
                          <xsl:attribute name="name">
                            <xsl:value-of select="SETitle"></xsl:value-of>
                          </xsl:attribute>
                          <xsl:attribute name="alt">
                            <xsl:value-of select="SEAltText"></xsl:value-of>
                          </xsl:attribute>
                          <xsl:attribute name="src">
                            <xsl:value-of select="iconimage"></xsl:value-of>
                          </xsl:attribute>
                          <xsl:attribute name="onerror">
                            <xsl:text>this.src='~/images/image-not-found.png'</xsl:text>
                          </xsl:attribute>
                        </img>
                      </a>
                      <a>
                        <xsl:attribute name="href">
                          <xsl:value-of select="concat('~/p-', ProductID, '-', SEName, '.aspx')"/>
                        </xsl:attribute>
                        <xsl:value-of select="NAME" disable-output-escaping="yes" />
                      </a>
                      <br />
                      <span>
                        Your Price <xsl:value-of select="format-number(SalePrice, '#.00')" disable-output-escaping="yes"></xsl:value-of>
                      </span>
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a class="btn btn-default" href="~/shoppingcart.aspx">
                      <xsl:text>Click here view Cart</xsl:text>
                    </a>
                  </div>

                </div>
              </div>
            </div>
            <script type="text/javascript">
              $(document).ready(function () {
              $('#<xsl:value-of select="concat('AddToCartButton_',ProductID,'_', VariantID)" disable-output-escaping="yes" />').click(function () {

              var quantity = $('#<xsl:value-of select="concat('Quantity_',ProductID,'_', VariantID)" disable-output-escaping="yes" />').val();
              var customerid = <xsl:value-of select="/root/customers/custs/customerid" disable-output-escaping="yes" />;
              var productid = <xsl:value-of select="ProductID"></xsl:value-of>;
              var variantid = <xsl:value-of select="VariantID"></xsl:value-of>;
              var shippingid = <xsl:value-of select="/root/customers/custs/shippingaddressid" disable-output-escaping="yes" />;
              var billingid = <xsl:value-of select="/root/customers/custs/billingaddressid" disable-output-escaping="yes" />;
              <!--var price = <xsl:value-of select="extprice"></xsl:value-of>;-->
              <!--var price = <xsl:value-of select="format-number(aspdnsf:nalpacGetCustomPrice(VariantID), '$#.##')" disable-output-escaping="yes" />;-->
              var price = 0
            var storeid = <xsl:value-of select="/root/customers/custs/storeid" disable-output-escaping="yes" />;

              $.ajax({

              type: 'POST',
              contentType: "application/json; charset=utf-8",
              url: 'nal_addtocart.aspx/nalpac_AddToCart',
              data: "{'customerid':'" + customerid + "','productid':'" + productid + "','variantid':'" + variantid + "','quantity':'" + quantity + "','shippingid':'" + shippingid + "','billingid':'" + billingid + "','price':'" + price + "','storeid':'" + storeid + "'}",
              async: true,
              success: function (response) {
              $('#<xsl:value-of select="concat('Quantity_',ProductID,'_', VariantID)" disable-output-escaping="yes" />').val(&quot;0&quot;);
              <!--alert("Record saved successfully..!!");-->
              $('#<xsl:value-of select="concat('added-mod', ProdutID,'_', VariantID)" disable-output-escaping="yes" />').modal('show');
              },
              error: function () {

              alert("Error");
              }
              });

              });
              });
            </script>
          </div>

        </div>
      </xsl:template>

      <xsl:template match="Promotion">
        <xsl:value-of select="CallToAction" disable-output-escaping="yes" />
      </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>

</package>
