<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Guided Navigation" debug="false" includeentityhelper="false">

  <query name="GenreCounts" rowElementName="GenreCount">
    <sql>
      <![CDATA[
                exec [nalpac_GetNumProductsForCategory]
                @CategoryID  = @CatID, 
					      @searchstr = @SearchTerm,
					      @GenreIDs = @GenreIDs
            ]]>
    </sql>
    <queryparam paramname="@CatID" paramtype="runtime" requestparamname="PageName" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@GenreIDs" paramtype="request" requestparamname="genre" sqlDataType="varchar" defvalue=""  validationpattern="^[0-9\-]*$" />
    <queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue=""  validationpattern="" />
  </query>
  <query name="Selected" rowElementName="Genres">
    <sql>
      <![CDATA[
				select g.genreid, g.name, g.parentgenreid, pg.name as parentname
        from split(@GenreIDs, '-') qe inner join Genre g on (qe.items = g.genreid) 
        join Genre pg on g.parentgenreid = pg.genreid

            ]]>
    </sql>
    <queryparam paramname="@GenreIDs" paramtype="request" requestparamname="genre" sqlDataType="varchar" defvalue=""  validationpattern="^[0-9\-]*$" />
  </query>

  <PackageTransform>
    <xsl:stylesheet version="2.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
      <xsl:output method="html" omit-xml-declaration="yes" />


      <xsl:template match="/">
        <div id="guidedNavigation" class="guidedNavigation">
          <div class="modal fade" id="filterProducts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                      <xsl:text>X</xsl:text>
                    </span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                    <xsl:text>Filter Your Results</xsl:text>
                  </h4>
                </div>
                <div class="modal-body">
                  <xsl:call-template name="Selections" />
                  <xsl:call-template name="Search" />
                  <xsl:apply-templates select="root/GenreCounts/GenreCount" />
                  <xsl:text disable-output-escaping="yes">&lt;/ul&gt;</xsl:text>
                  <xsl:text disable-output-escaping="yes">&lt;/div&gt;</xsl:text>
                  <xsl:text disable-output-escaping="yes">&lt;/div&gt;</xsl:text>
                </div>
              </div>
            </div>
          </div>
          <xsl:text disable-output-escaping="yes">&lt;/div&gt;</xsl:text>
        </div>
      </xsl:template>

      <xsl:template match="GenreCount">
        <xsl:variable name="name" select="name" />
        <xsl:variable name="sid" select="genreid" />
        <xsl:variable name="count" select="productcount" />
        <xsl:variable name="selectedid" select="selectedid"></xsl:variable>
        <xsl:variable name="link">
          <xsl:text>javascript:entityLink(</xsl:text>
          <xsl:value-of select="genreid"></xsl:value-of>
          <xsl:text>, '</xsl:text>
          <xsl:text>Genre</xsl:text>
          <xsl:text>');</xsl:text>
        </xsl:variable>
        <xsl:variable name="parentid" select="parentgenreid"></xsl:variable>
        <xsl:variable name="apos">'</xsl:variable>
        <xsl:choose>
          <xsl:when test="$selectedid = 0">

            <xsl:choose>
              <xsl:when test="$parentid = 0">
                <xsl:if test="position() != 1">
                  <xsl:text disable-output-escaping="yes">&lt;/ul&gt;</xsl:text>
                  <xsl:text disable-output-escaping="yes">&lt;/div&gt;</xsl:text>
                  <xsl:text disable-output-escaping="yes">&lt;/div&gt;</xsl:text>
                  <xsl:text disable-output-escaping="yes">&lt;div class="panel panel-default"&gt;</xsl:text>
                </xsl:if>

                <xsl:if test="position() = 1">
                  <xsl:text disable-output-escaping="yes">&lt;div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" &gt;</xsl:text>
                  <xsl:text disable-output-escaping="yes">&lt;div class="panel panel-default"&gt;</xsl:text>
                </xsl:if>
                <div class="panel-heading" role="tab">
                  <xsl:attribute name="id">
                    <xsl:value-of select ="concat('heading', $sid)" />
                  </xsl:attribute>
                  <h3 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">
                      <xsl:attribute name="href">
                        <xsl:value-of select="concat('#Genre', $sid)" />
                      </xsl:attribute>
                      <xsl:attribute name="aria-controls">
                        <xsl:value-of select="concat('Genre', $sid)" />
                      </xsl:attribute>
                      <xsl:value-of select="name"></xsl:value-of>
                    </a>
                  </h3>
                </div>
                <xsl:value-of select="concat('&lt;div id=&quot;Genre', $sid, '&quot; class=&quot;panel-collapse collapse&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;heading', $sid,'&quot;' )" disable-output-escaping="yes"  />

                <xsl:text disable-output-escaping="yes">&lt;div class="panel-body"&gt;</xsl:text>
                <xsl:text disable-output-escaping="yes">&lt;ul class="list-group"&gt;</xsl:text>
                <!-- from http://www.roubaixinteractive.com/PlayGround/XSLT/HTML_Characters.asp -->
                <!--<xsl:text disable-output-escaping="yes">&lt;select onchange="setParam('Genre', this.value)" name="SelectGenre"&gt;</xsl:text>-->
                <!--<xsl:value-of select="concat('&lt; select onchange=&quot;setParam(',$apos, 'SSGenre',$apos,', this.value)&quot; name=&quot;SSelectGenre&quot; id=&quot;Genre', $sid,'&quot; &gt;')" disable-output-escaping="yes"  />-->
              </xsl:when>
              <xsl:when test="$parentid != 0">
                <li class="list-group-item">
                  <a>
                    <xsl:attribute name="value">
                      <xsl:value-of select="$sid"></xsl:value-of>
                    </xsl:attribute>
                    <xsl:attribute name="href">
                      <xsl:value-of select="$link" disable-output-escaping="yes"  />
                    </xsl:attribute>
                    <xsl:value-of select="$name"></xsl:value-of>
                  </a>

                </li>
              </xsl:when>
            </xsl:choose>
          </xsl:when>
        </xsl:choose>

      </xsl:template>


      <xsl:template name="Search">
        <div class="row">
          <div class="guidedNavBlock" id="searchUnselected" >
            <div id="searchHeader" class="searchHeader GenreHeader">
              <xsl:text>Search within these</xsl:text>
            </div>
            <xsl:variable name="onsubmit">
              <xsl:text>setParam('SearchTerm', document.getElementById('GuidedNavigationSearchBox').value);</xsl:text>
            </xsl:variable>
            <div class="guidedNavGroup">
              <input type="text" size="15" name="SearchTerm" id="GuidedNavigationSearchBox" onkeydown="if (event.keyCode == 13) {{document.getElementById('guidedNavigationSearchGo').click(); return false;}} return true;" />
              <input type="button" id="guidedNavigationSearchGo" class="guidedNavigationSearchGo" value="Go" onclick="{$onsubmit}return false;" />
            </div>
          </div>
        </div>
      </xsl:template>

      <xsl:template name="Selections">
        <xsl:param name="SelectionsContent">
          <xsl:apply-templates select="root/Selected/Genres"  />
        </xsl:param>
        <xsl:if test="string-length($SelectionsContent) &gt; 0 or /root/QueryString/searchterm">
          <div class="row">

            <div class="GenreHeader">
              <xsl:text>You have selected</xsl:text>
            </div>
            <div class="youveSelected guidedNavGroup">
              <xsl:if test="/root/QueryString/searchterm">
                <div class="navGenre">
                  <span class="guidedSelectionTitle">
                    <xsl:text>Search: </xsl:text>
                  </span>
                  <span class="guidedSelectionValue">
                    <xsl:value-of select="/root/QueryString/searchterm" />
                  </span>
                  <xsl:text>&#32;</xsl:text>
                  <a href="javascript:removeParam('SearchTerm');" class="removeLink" title="Remove this filter" >
                    <xsl:text disable-output-escaping="yes">(x)</xsl:text>
                  </a>
                </div>
              </xsl:if>
              <xsl:copy-of select="$SelectionsContent" />
              <div class="removeAllWrap navGenre">
                <a class="removeAllSelections" href="javascript:guidedNavigationStartOver()">Start Over</a>
              </div>
            </div>
          </div>
        </xsl:if>
      </xsl:template>

      <xsl:template match="Genres">
        <xsl:variable name="RemoveLink">
          <xsl:text>removeEntity(</xsl:text>
          <xsl:value-of select="GenreID" />
          <xsl:text>, 'Genre')</xsl:text>
        </xsl:variable>
        <xsl:variable name="ParentEntityID" select="parentgenreid" />
        <div class="navGenre" >
          <span class="guidedSelectionTitle">
            <xsl:value-of select="parentname"></xsl:value-of>
            <xsl:text>: </xsl:text>
          </span>
          <span class="guidedSelectionValue">
            <xsl:value-of select="name" />
            <a href="javascript:{$RemoveLink};" class="removeLink" title="Remove this filter" >
              <xsl:text>(x)</xsl:text>
            </a>
          </span>
        </div>


      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>
