<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Stella Home Page" debug="false" entityhelper="false">
  <query name="FeaturedProducts" rowElementName="FeaturedProduct">

    <sql>
      <![CDATA[                 
        exec nalpac_homepage
      ]]>
    </sql>
  </query>
 <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
      <xsl:output method="html" omit-xml-declaration="yes" />

  <xsl:template match="/">
    <div class="container-fluid productlist">
      <div class="row">
        <div class="col-sm-8">
          <a>
            <xsl:attribute name ="href">
              <xsl:value-of select="root/FeaturedProducts/FeaturedProduct/url">
              </xsl:value-of>
            </xsl:attribute>
            <img class="img-responsive" alt="item">
              <xsl:attribute name="src">
                <xsl:value-of select="root/FeaturedProducts/FeaturedProduct/mediumimage"></xsl:value-of>
              </xsl:attribute>
              <xsl:attribute name="onerror">
                <xsl:text>this.src='https://az594929.vo.msecnd.net/images/icon/nopicture.gif'</xsl:text>
              </xsl:attribute>
            </img>
              <span class="productlist-price-container">
                <span class="product-price">
                  <span class="price">
                    <xsl:value-of select="root/FeaturedProducts/FeaturedProduct/name"></xsl:value-of>
                  </span>
                </span>
              </span>
            </a>
        </div>
        <div class="col-sm-4">
          <a>
            <xsl:attribute name ="href">
              <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[2]/url">
              </xsl:value-of>
            </xsl:attribute>
            <img class="img-responsive" alt="item">
              <xsl:attribute name="src">
                <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[2]/mediumimage"></xsl:value-of>
              </xsl:attribute>
              <xsl:attribute name="onerror">
                <xsl:text>this.src='https://az594929.vo.msecnd.net/images/icon/nopicture.gif'</xsl:text>
              </xsl:attribute>
            </img>
            <span class="productlist-price-container">
                <span class="product-price">
                  <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[2]/name"></xsl:value-of>
                </span>
              </span>
            </a>
        </div>
        <div class="col-sm-4">
          <a>
            <xsl:attribute name ="href">
              <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[3]/url">
              </xsl:value-of>
            </xsl:attribute>

            <img class="img-responsive" alt="item">
              <xsl:attribute name="src">
                <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[3]/mediumimage"></xsl:value-of>
              </xsl:attribute>
              <xsl:attribute name="onerror">
                <xsl:text>this.src='https://az594929.vo.msecnd.net/images/icon/nopicture.gif'</xsl:text>
              </xsl:attribute>
            </img>
              <span class="productlist-price-container">
                <span class="product-price">
                  <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[3]/name"></xsl:value-of>
                </span>
              </span>
            </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 special">
          <div class="col-sm-12">
            <a>
              <xsl:attribute name ="href">
                <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[4]/url">
                </xsl:value-of>
              </xsl:attribute>
              <img class="img-responsive" alt="item">
                <xsl:attribute name="src">
                  <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[4]/mediumimage"></xsl:value-of>
                </xsl:attribute>
                <xsl:attribute name="onerror">
                  <xsl:text>this.src='https://az594929.vo.msecnd.net/images/icon/nopicture.gif'</xsl:text>
                </xsl:attribute>
              </img>
                <span class="productlist-price-container">
                  <span class="product-price">
                    <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[4]/name"></xsl:value-of>
                  </span>
                </span>
              </a>
          </div>
          <div class="col-sm-12">
            <a>
              <xsl:attribute name ="href">
                <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[5]/url">
                </xsl:value-of>
              </xsl:attribute>
              <img class="img-responsive" alt="item">
                <xsl:attribute name="src">
                  <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[5]/mediumimage"></xsl:value-of>
                </xsl:attribute>
                <xsl:attribute name="onerror">
                  <xsl:text>this.src='https://az594929.vo.msecnd.net/images/icon/nopicture.gif'</xsl:text>
                </xsl:attribute>
              </img>
                <span class="productlist-price-container">
                  <span class="product-price">
                    <span class="original-price">
                      <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[5]/name"></xsl:value-of>
                    </span>
                  </span>
                </span>
              </a>
          </div>
        </div>
        <div class="col-sm-8">
          <a>
            <xsl:attribute name ="href">
              <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[6]/url">
              </xsl:value-of>
            </xsl:attribute>
            <img class="img-responsive" alt="item">
              <xsl:attribute name="src">
                <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[6]/mediumimage"></xsl:value-of>
              </xsl:attribute>
              <xsl:attribute name="onerror">
                <xsl:text>this.src='https://az594929.vo.msecnd.net/images/icon/nopicture.gif'</xsl:text>
              </xsl:attribute>
            </img>
              <span class="productlist-price-container">
                <span class="product-price">
                  <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[6]/name"></xsl:value-of>
                </span>
              </span>
            </a>
        </div>
      </div>
      <div class="row" id="more-items">
        <div class="col-sm-6">
          <a>
            <xsl:attribute name ="href">
              <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[7]/url">
              </xsl:value-of>
            </xsl:attribute>
            <img class="img-responsive" alt="item">
              <xsl:attribute name="src">
                <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[7]/mediumimage"></xsl:value-of>
              </xsl:attribute>
              <xsl:attribute name="onerror">
                <xsl:text>this.src='https://az594929.vo.msecnd.net/images/icon/nopicture.gif'</xsl:text>
              </xsl:attribute>
            </img>
              <span class="productlist-price-container">
                <span class="product-price">
                  <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[7]/name"></xsl:value-of>
                </span>
              </span>
            </a>
        </div>
        <div class="col-sm-6">
          <a>
            <xsl:attribute name ="href">
              <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[8]/url">
              </xsl:value-of>
            </xsl:attribute>
            <img class="img-responsive" alt="item">
              <xsl:attribute name="src">
                <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[8]/mediumimage"></xsl:value-of>
              </xsl:attribute>
              <xsl:attribute name="onerror">
                <xsl:text>this.src='https://az594929.vo.msecnd.net/images/icon/nopicture.gif'</xsl:text>
              </xsl:attribute>
            </img>
              <span class="productlist-price-container">
                <span class="product-price">
                  <xsl:value-of select="root/FeaturedProducts/FeaturedProduct[8]/name"></xsl:value-of>
                </span>
              </span>
            </a>
        </div>
      </div>
      <!--<div class="row">
        <div class="col-sm-12 text-center show-more">
          <a href="#" class="btn btn-outline" id="showmore">Show more</a>
        </div>
      </div>-->
    </div>

  </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>
</package>