<?xml version="1.0" encoding="utf-8" ?>
<package displayname="Did you mean this" version="2.1" debug="false"  includeentityhelper="false">

  <query name="Searches" rowElementName="Search">
    <sql>
      <![CDATA[
                exec nalpac_matchingsearch @SearchTerm
            ]]>
    </sql>
    <queryparam paramname="@SearchTerm"				paramtype="request"	requestparamname="searchterm"				sqlDataType="varchar"	defvalue=""	validationpattern="" />
  </query>

  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
      <xsl:output method="xml" omit-xml-declaration="yes" />
      <xsl:variable name="NewTerm" select="/root/Searches/Search/name" />

      <xsl:template match="/">
        <xsl:if test="string-length($NewTerm) &gt; 0">
          <div class="panel panel-default">
            <div class="panel-heading">Similar searches</div>
            <div class="panel-body">
              <xsl:apply-templates select="/root/Searches/Search"></xsl:apply-templates>
            </div>
          </div>
        </xsl:if>
      </xsl:template>
      <xsl:template match="Search">
        <button class="btn btn-default">
          <a>
            <xsl:attribute name="href">
              <xsl:value-of select="concat('~/', link)"/>
            </xsl:attribute>
            <xsl:value-of select="name"></xsl:value-of>
          </a>

        </button>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>
