<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Featured Products" debug="false" entityhelper="false">
  <query name="manufacturers" rowElementName="manufacturer">
    <sql>
      <![CDATA[
          select cat.manufacturerID
	          ,cat.name as manufacturer_Name
	          ,cat.ParentmanufacturerID as Parent_manufacturerID
	          ,coalesce(pcat.name, '') as Parent_manufacturer_Name
	          ,cat.SEName as manufacturer_SE_Name
  	          ,'manufacturer/' + cast(cat.manufacturerid as varchar(20)) as curl
		          ,case when coalesce(cat.ImageFileNameOverride, '') = '' then 
			          '/images/product/icon/' + cast(cat.manufacturerID as varchar(20)) + '.jpg' 
			          else
			          'https://az594929.vo.msecnd.net/images/icon/' + cat.ImageFileNameOverride
			          end as iconimage
		          ,case when coalesce(cat.ImageFileNameOverride, '') = '' then 
			          '/images/product/medium/' + cast(cat.manufacturerID as varchar(20)) + '.jpg' 
			          else
			          'https://az594929.vo.msecnd.net/images/medium/' + cat.ImageFileNameOverride
			          end as mediumimage
		          ,case when coalesce(cat.ImageFileNameOverride, '') = '' then 
			          '/images/product/large/' + cast(cat.manufacturerID as varchar(20)) + '.jpg' 
			          else
			          'https://az594929.vo.msecnd.net/images/large/' + cat.ImageFileNameOverride
			          end as largeimage

          from manufacturer cat with (nolock)
          left join manufacturer pcat with (nolock)
          on cat.ParentmanufacturerID = pcat.manufacturerID
          order by coalesce(pcat.name, '')  + cat.name
    ]]>
    </sql>
    <queryparam paramname="@customerid" paramtype="system" requestparamname="CustomerID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@blah" paramtype="runtime" requestparamname="blu" sqlDataType="varchar" defvalue="0"  validationpattern="" />
  </query>
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
      <xsl:output method="html" omit-xml-declaration="yes" />

      <xsl:template match="/">
     <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/26-Anal.aspx" role="button" aria-haspopup="true" aria-expanded="false">
                Anal <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li role="presentation">
                <a href="manufacturer/152">Anal - Beads &amp; Balls</a>
              </li>
              <li role="presentation">
                <a href="manufacturer/145">Anal - Douches and Enemas</a>
              </li>
              <li role="presentation">
                <a href="manufacturer/114">Anal - Inflatables</a>
              </li>
              <li role="presentation">
                <a href="manufacturer/138">Anal - Kits</a>
              </li>
              <li role="presentation">
                <a href="manufacturer/161">Anal - Misc</a>
              </li>
              <li role="presentation">
                <a href="manufacturer/104">Anal - Plugs &amp; Probes Vibrating</a>
              </li>
              <li role="presentation">
                <a href="manufacturer/53">Anal - Plugs and  Probes non vibrating</a>
              </li>
              <li role="presentation">
                <a href="manufacturer/58">Anal - Prostate Massagers</a>
              </li>              
            </ul>
        </li>
       <li role="presentation">
         <a href="manufacturer/10">Bachelor Party</a>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/15" role="button" aria-haspopup="true" aria-expanded="false">
           Bachelorette <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/125">Bachelorette - Buttons, Pins &amp; Badges</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/156">Bachelorette - Games</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/67">Bachelorette - Gifts &amp; Gift Bags</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/130">Bachelorette - Headwear, sashes &amp; garter</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/75">Bachelorette - Novelty Items</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/197">Bachelorette - Party Supplies</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/79">Bachelorette - Shotglasses, Mugs,Glasses</a>
           </li>
         </ul>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/9-BathBody.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           BathBody <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/103-BathBody-Candles.aspx">Bath &amp; Body - Candles</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/188-BathBody-ColognesPerfumes.aspx">Bath &amp; Body - Colognes &amp; Perfumes</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/151-BathBody-OilsLotionsMistsDusts.aspx">Bath &amp; Body - Oils, Lotions,Mists &amp;Dusts</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/146-BathBody-PersonalHygiene.aspx">Bath &amp; Body - Personal Hygiene</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/192-BathBody-RosePetals.aspx">Bath &amp; Body - Rose Petals</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/126-BathBody-ShaveCreamAccessories.aspx">Bath &amp; Body - Shave Cream &amp; Accessories</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/78-BathBody-SoapBubbleBathSalts.aspx">Bath &amp; Body - Soap. Bubble Bath &amp; Salts</a>
           </li>
         </ul>
       </li>
       <li role="presentation">
         <a href="manufacturer/36-Batteries.aspx">Batteries</a>
       </li>
       <li role="presentation">
         <a href="manufacturer/1-BulkItems.aspx">Bulk Items</a>
       </li>
       <li role="presentation">
         <a href="manufacturer/18-BulletsandEggs.aspx">Bullets and Eggs</a>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/20-Condoms.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Condoms <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/170-Condoms-Flavored.aspx">Condoms - Flavored</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/82-Condoms-LatexNonLatex.aspx">Condoms - Latex &amp; Non Latex</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/109-Condoms-Novelty.aspx">Condoms - Novelty</a>
           </li>
         </ul>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/25-DesensitizersRelaxants.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           DesensitizersRelaxants <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/100-DesensitizersRelaxants-Anal.aspx">Desensitizers &amp; Relaxants - Anal</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/184-DesensitizersRelaxants-Oral.aspx">Desensitizers &amp; Relaxants - Oral</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/140-DesensitizersRelaxants-Penis.aspx">Desensitizers &amp; Relaxants - Penis</a>
           </li>
         </ul>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/19-Displays.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Displays <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/44-Displays-FloorWallCounter.aspx">Displays - Floor, Wall &amp; Counter</a>
           </li>
         </ul>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/13-Dolls.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Dolls <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/171-Dolls-Female.aspx">Dolls - Female</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/97-Dolls-Male.aspx">Dolls - Male</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/167-Dolls-Novelty.aspx">Dolls - Novelty</a>
           </li>
         </ul>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/24-Dongs.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Dongs <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/106-Dongs-AccessoriesAttachments.aspx">Dongs - Accessories &amp; Attachments</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/48-Dongs-CyberskinorRealisticFeel.aspx">Dongs - Cyberskin or Realistic Feel</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/60-Dongs-DoubleDongs.aspx">Dongs - Double  Dongs</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/159-Dongs-GSpot.aspx">Dongs - G Spot</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/136-Dongs-GlassorCeramic.aspx">Dongs - Glass or Ceramic</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/115-Dongs-Jelly.aspx">Dongs - Jelly</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/105-Dongs-OutoftheOrdinary.aspx">Dongs - Out of the Ordinary</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/92-Dongs-PenisShaped.aspx">Dongs - Penis Shaped</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/133-Dongs-PornStarMolds.aspx">Dongs - Porn Star Molds</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/120-Dongs-Silicone.aspx">Dongs - Silicone</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/186-Dongs-Straight.aspx">Dongs - Straight</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/45-Dongs-Strap-onStrapless.aspx">Dongs - Strap-on &amp; Strapless</a>
           </li>
         </ul>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/34-Edibles.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Edibles <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/93-Edibles-Bodytoppingspaintssauces.aspx">Edibles - Body toppings,paints,sauces</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/143-Edibles-Candy.aspx">Edibles - Candy</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/166-Edibles-EdibleUnderwear.aspx">Edibles - Edible Underwear</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/142-Edibles-Pastamore.aspx">Edibles - Pasta &amp; more</a>
           </li>
         </ul>
       </li>
       <li role="presentation">
         <a href="manufacturer/32-ElectricalContactCleaner.aspx">Electrical Contact Cleaner</a>
       </li>

       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/11-Enhancers.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Enhancers <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/52-Enhancers-FemaleArousal.aspx">Enhancers - Female Arousal</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/62-Enhancers-LickableKissableLiquids.aspx">Enhancers - Lickable, Kissable Liquids</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/54-Enhancers-OralNipple.aspx">Enhancers - Oral / Nipple</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/107-Enhancers-PillsandPotionsforMen.aspx">Enhancers - Pills and Potions for Men</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/157-Enhancers-PillsandPotionsforWomen.aspx">Enhancers - Pills and Potions for Women</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/69-Enhancers-TopicalLotionforMen.aspx">Enhancers - Topical Lotion for Men</a>
           </li>
         </ul>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/31-Fetish.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Fetish <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/112-Fetish-BallStretchers.aspx">Fetish - Ball Stretchers</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/182-Fetish-Blindfolds.aspx">Fetish - Blindfolds</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/90-Fetish-CuffsRestraints.aspx">Fetish - Cuffs &amp; Restraints</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/168-Fetish-ElectroStim.aspx">Fetish - ElectroStim</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/169-Fetish-Gags.aspx">Fetish - Gags</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/185-Fetish-Kits.aspx">Fetish - Kits</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/119-Fetish-Masks.aspx">Fetish - Masks</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/190-Fetish-NippleClipsClampsSuckers.aspx">Fetish - Nipple Clips, Clamps &amp; Suckers</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/89-Fetish-SensoryStimulation.aspx">Fetish - Sensory Stimulation</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/129-Fetish-Ticklers.aspx">Fetish - Ticklers</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/149-Fetish-Urethral.aspx">Fetish - Urethral</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/84-Fetish-WhipsCropsPaddles.aspx">Fetish - Whips, Crops &amp; Paddles</a>
           </li>
         </ul>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/5-Games.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Games <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/47-Games-AdultPartyGames.aspx">Games - Adult Party Games</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/117-Games-Couples.aspx">Games - Couples</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/94-Games-CouponsScratchers.aspx">Games - Coupons &amp; Scratchers</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/61-Games-Dice.aspx">Games - Dice</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/164-Games-Drinking.aspx">Games - Drinking</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/121-Games-PlayingCards.aspx">Games - Playing Cards</a>
           </li>
         </ul>
       </li>
       <li role="presentation">
         <a href="manufacturer/6-Harnesses.aspx">Harnesses</a>
       </li>
       <li role="presentation">
         <a href="manufacturer/28-HolidayItems.aspx">Holiday Items</a>
       </li>
       <li role="presentation">
         <a href="manufacturer/8-Incense.aspx">Incense</a>
       </li>
       <li role="presentation">
         <a href="manufacturer/37-KegelsBalls.aspx">Kegels &amp; Balls</a>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/7-Lingerie.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Lingerie <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/177-Lingerie-Accessories.aspx">Lingerie - Accessories</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/42-Lingerie-BabydollsChemisesetc.aspx">Lingerie - Baby dolls, Chemises, etc</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/128-Lingerie-BodyStockings.aspx">Lingerie - Body Stockings</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/183-Lingerie-BraandPantysets.aspx">Lingerie - Bra and Panty sets</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/39-Lingerie-ClubWear.aspx">Lingerie - Club Wear</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/148-Lingerie-Corsets.aspx">Lingerie - Corsets</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/99-Lingerie-Costumes.aspx">Lingerie - Costumes</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/191-Lingerie-CrotchlessPanties.aspx">Lingerie - Crotchless Panties</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/56-Lingerie-Dresses.aspx">Lingerie - Dresses</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/132-Lingerie-Garters.aspx">Lingerie - Garters</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/155-Lingerie-LoungewearforWomen.aspx">Lingerie - Loungewear for Women</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/73-Lingerie-Novelty.aspx">Lingerie - Novelty</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/165-Lingerie-PantiesThongsBoyShorts.aspx">Lingerie - Panties, Thongs, Boy Shorts</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/74-Lingerie-PastiesandTassels.aspx">Lingerie - Pasties and Tassels</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/160-Lingerie-StockingsLeggings.aspx">Lingerie - Stockings &amp; Leggings</a>
           </li>         </ul>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/2-Lube.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Lube <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/81-Lube-Anal.aspx">Lube - Anal</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/85-Lube-Cooling.aspx">Lube - Cooling</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/150-Lube-Couples.aspx">Lube - Couples</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/66-Lube-CreamandOilBased.aspx">Lube - Cream and Oil Based</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/154-Lube-Displays.aspx">Lube - Displays</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/194-Lube-Flavored.aspx">Lube - Flavored</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/162-Lube-GlycerinParabenetcFree.aspx">Lube - Glycerin, Paraben, etc Free</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/63-Lube-Hybrid.aspx">Lube - Hybrid</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/124-Lube-Kits.aspx">Lube - Kits</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/176-Lube-NaturalFreeOrganicPure.aspx">Lube - Natural, Free, Organic, Pure</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/178-Lube-Silicone.aspx">Lube - Silicone</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/135-Lube-Tingling.aspx">Lube - Tingling</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/98-Lube-Warming.aspx">Lube - Warming</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/86-Lube-WaterBased.aspx">Lube - Water Based</a>
           </li>
         </ul>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/3-Massage.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Massage <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/172-Massage-Candles.aspx">Massage - Candles</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/41-Massage-Massagers.aspx">Massage - Massagers</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/144-Massage-OilsLotionsCreamsGlides.aspx">Massage - Oils, Lotions, Creams  Glides</a>
           </li>
         </ul>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/23-Masturbators.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Masturbators <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/110-Masturbators-Accessories.aspx">Masturbators - Accessories</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/179-Masturbators-Clitoral.aspx">Masturbators - Clitoral</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/95-Masturbators-PocketPalsStrokers.aspx">Masturbators - Pocket Pals &amp; Strokers</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/122-Masturbators-PornStarMolds.aspx">Masturbators - Porn Star Molds</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/147-Masturbators-VaginasandBodyParts.aspx">Masturbators - Vaginas and Body Parts</a>
           </li>
         </ul>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/35-Media.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Media <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/108-Media-AudioCDs.aspx">Media - Audio CD's</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/141-Media-InformationalBooks.aspx">Media - Informational Books</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/68-Media-InstructionalBooks.aspx">Media - Instructional Books</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/158-Media-InstructionalDVDs.aspx">Media - Instructional DVDs</a>
           </li>
         </ul>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/27-Men.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Men <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/40-Men-BallStretchers.aspx">Men - Ball Stretchers</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/195-Men-ChastityandCages.aspx">Men - Chastity and Cages</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/91-Men-CockRings.aspx">Men - Cock Rings</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/175-Men-PenisSleevesandExtensions.aspx">Men - Penis Sleeves and Extensions</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/51-Men-Underwear.aspx">Men - Underwear</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/131-Men-VibratingCockRings.aspx">Men - Vibrating Cock Rings</a>
           </li>
         </ul>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/30-Novelites.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Novelites <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/163-Novelites-GiftBags.aspx">Novelites - Gift Bags</a>
           </li>
         </ul>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/29-Novelties.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Novelties <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/77-Novelties-Bar.aspx">Novelties - Bar</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/96-Novelties-GagGifts.aspx">Novelties - Gag Gifts</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/70-Novelties-GreetingCards.aspx">Novelties - Greeting Cards</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/127-Novelties-KeyringsButtonsMagnets.aspx">Novelties - Keyrings, Buttons, Magnets</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/88-Novelties-Kitchen.aspx">Novelties - Kitchen</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/101-Novelties-MatchesandLighters.aspx">Novelties - Matches and Lighters</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/181-Novelties-Mugs.aspx">Novelties - Mugs</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/46-Novelties-OvertheHill.aspx">Novelties - Over the Hill</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/153-Novelties-PartySupplies.aspx">Novelties - Party Supplies</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/193-Novelties-Pride.aspx">Novelties - Pride</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/134-Novelties-StrawsandSippers.aspx">Novelties - Straws and Sippers</a>
           </li>
         </ul>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/198-overstock.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           overstock <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/963-10Discount.aspx">10 Discount</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/964-20Discount.aspx">20 Discount</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/965-25Discount.aspx">25 Discount</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/966-30Discount.aspx">30 Discount</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/967-33Discount.aspx">33 Discount</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/968-35Discount.aspx">35 Discount</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/969-40Discount.aspx">40 Discount</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/970-50Discount.aspx">50 Discount</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/971-60Discount.aspx">60 Discount</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/972-70Discount.aspx">70 Discount</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/973-80Discount.aspx">80 Discount</a>
           </li>
         </ul>
       </li>
       <li role="presentation">
         <a href="manufacturer/21-Poles.aspx">Poles</a>
       </li>
       <li role="presentation">
         <a href="manufacturer/33-PromotionalItems.aspx">Promotional Items</a>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/17-Pumps.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Pumps <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/118-Pumps-Accessories.aspx">Pumps - Accessories</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/71-Pumps-Anal.aspx">Pumps - Anal</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/113-Pumps-ClitoralVaginal.aspx">Pumps - Clitoral &amp; Vaginal</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/174-Pumps-Nipple.aspx">Pumps - Nipple</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/49-Pumps-Penis.aspx">Pumps - Penis</a>
           </li>
         </ul>
       </li>
       <li role="presentation">
         <a href="manufacturer/38-RomanticGiftsandIntimacyKits.aspx">Romantic Gifts and Intimacy Kits</a>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/4-SexEquipment.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           SexEquipment <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/137-SexEquipment-FuckMachines.aspx">Sex Equipment - Fuck Machines</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/72-SexEquipment-Furniture.aspx">Sex Equipment - Furniture</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/64-SexEquipment-PositionAssistants.aspx">Sex Equipment - Position Assistants</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/50-SexEquipment-Slings.aspx">Sex Equipment - Slings</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/80-SexEquipment-Swings.aspx">Sex Equipment - Swings</a>
           </li>
         </ul>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/12-Smoke.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Smoke <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/173-Smoke-Accessories.aspx">Smoke - Accessories</a>
           </li>
         </ul>
       </li>
       <li role="presentation">
         <a href="manufacturer/16-ToyLingerieLatexCleaners.aspx">Toy, Lingerie &amp; Latex Cleaners</a>
       </li>

       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/22-Vibes.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Vibes <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/111-Vibes-Accessoriesattachments.aspx">Vibes - Accessories &amp; attachments</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/87-Vibes-Bendable.aspx">Vibes - Bendable</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/59-Vibes-Butterfly.aspx">Vibes - Butterfly</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/55-Vibes-ClitStimulating.aspx">Vibes - Clit Stimulating</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/139-Vibes-ClitoralG-Spot.aspx">Vibes - Clitoral &amp; G-Spot</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/180-Vibes-Finger.aspx">Vibes - Finger</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/43-Vibes-GSpot.aspx">Vibes - G Spot</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/123-Vibes-Kits.aspx">Vibes - Kits</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/76-Vibes-Mini.aspx">Vibes - Mini</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/83-VIbes-OddShaped.aspx">VIbes - Odd Shaped</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/65-Vibes-Panty.aspx">Vibes - Panty</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/196-Vibes-PenisShaped.aspx">Vibes - Penis Shaped</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/187-Vibes-Silicone.aspx">Vibes - Silicone</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/102-Vibes-Straight.aspx">Vibes - Straight</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/116-Vibes-Tongue.aspx">Vibes - Tongue</a>
           </li>
         </ul>
       </li>
       <li role="presentation" class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="manufacturer/14-Wands.aspx" role="button" aria-haspopup="true" aria-expanded="false">
           Wands <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li role="presentation">
             <a href="manufacturer/189-Wands-WandAttachments.aspx">Wands - Wand Attachments</a>
           </li>
           <li role="presentation">
             <a href="manufacturer/57-Wands-WandMassagers.aspx">Wands - Wand Massagers</a>
           </li>
         </ul>
       </li>



       
     </ul>

      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>