<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="NalpacLogin.Mobile" debug="false" entityhelper="false">
  <!--<query name="FeaturedProducts" rowElementName="FeaturedProduct">
    <sql>
      <![CDATA[                 
        exec nalpac_topsellersnew
      ]]>
    </sql>
  </query>-->
  <query name="customers" rowElementName="custs">
    <sql>
      <![CDATA[

select COALESCE(FirstName, '') as FirstName , coalesce(LastName, '') as LastName, coalesce(customerid, 0) as customerid
from customer
where customerid = @customerid
    ]]>
    </sql>
    <queryparam paramname="@customerid" paramtype="system" requestparamname="CustomerID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@blah" paramtype="runtime" requestparamname="blu" sqlDataType="varchar" defvalue="0"  validationpattern="" />
  </query>
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
      <xsl:output method="html" omit-xml-declaration="yes" />

      <xsl:template match="/">
        <xsl:if test="root/Runtime/CustomerIsRegistered = 'false'">
          <!--<a href="/Account/Signin" data-icon="info" data-iconpos="notext"></a>-->
                <a href="/Account/signin">Login
                </a>
        </xsl:if>
        <xsl:if test="root/Runtime/CustomerIsRegistered = 'true'">
                <a href="/Account/Index" >
                  <i class="fa fa-user"></i>
                  <xsl:value-of select="concat(/root/customers/custs/FirstName, ' ', /root/customers/custs/LastName)"></xsl:value-of>
                </a>
                <a href="/Account/signout">Sign Out</a>
                <!--<a href="/nalpac4/account/Index" data-icon="info" data-iconpos="notext" >
                </a>-->
        </xsl:if>
      </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>
</package>