<?xml version="1.0" encoding="utf-8" ?>
<package displayname="On Sale Items" version="2.1" debug="false" >
  <query name="Categories" rowElementName="Category">
    <sql>
      <![CDATA[exec nalpac_topcategories]]>
    </sql>
  </query>

  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
      <xsl:output method="html" omit-xml-declaration="yes" />

      <xsl:template match="/">
        <div class="panel panel-default">
          <div class="panel-heading">Top Viewed Categories</div>
          <div class="panel-body">
            <xsl:apply-templates select="/root/Categories/Category"></xsl:apply-templates>
          </div>
        </div>

      </xsl:template>


      <xsl:template match="Category">
        <button class="btn btn-default">
          <a>
            <xsl:attribute name="href">
              <xsl:value-of select="concat('~/c-', categoryid, '-', sename, '.aspx')"/>
            </xsl:attribute>
            <xsl:value-of select="name"></xsl:value-of>
          </a>

        </button>
      </xsl:template>






    </xsl:stylesheet>
  </PackageTransform>
</package>
