<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Featured Products" debug="false" entityhelper="false">
  <query name="FeaturedProducts" rowElementName="FeaturedProduct">
    <sql>
      <![CDATA[                 
        exec nalpac_topsellersnew
      ]]>
    </sql>
  </query>
  <query name="customers" rowElementName="custs">
    <sql>
      <![CDATA[
select 0 customerid, 0 shoppingcartrecid, 0 shippingaddressid, 0 billingaddressid, 1 storeid where @customerid = 0
union
select top 1 cu.customerid,
	coalesce(ca.shoppingcartrecid , 0) shoppingcartrecid,
	coalesce(cu.shippingaddressid, 0) shippingaddressid,
	coalesce(cu.billingaddressid, 0) billingaddressid,
	cu.storeid
from customer cu
left join shoppingcart ca
on cu.customerid = ca.customerid
      where cu.customerid = @customerid
	      and @customerid not like 0  
    ]]>
    </sql>
    <queryparam paramname="@customerid" paramtype="system" requestparamname="CustomerID" sqlDataType="int" defvalue="0"  validationpattern="" />
  </query>  
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
      <xsl:output method="html" omit-xml-declaration="yes" />

  <xsl:template match="/">
        <xsl:choose>
          <xsl:when test="count(/root/FeaturedProducts/FeaturedProduct) &gt; 0 ">
            <div class="container-fluid">
              <div class="row">
                <div class="featured-products other-products-wrap">
                  <h2>
                    <xsl:text>Our Current Top Sellers</xsl:text>
                  </h2>
                  <div class="row row-eq-height ">
                    <xsl:apply-templates select="/root/FeaturedProducts/FeaturedProduct" />
                  </div>
                </div>
                <div class="clearBoth"></div>

              </div>
            </div>
          </xsl:when>
        </xsl:choose>
      </xsl:template>

      <xsl:template match="FeaturedProduct">
        <xsl:choose>
          <xsl:when test="position() mod 4 = 1 and position() &gt; 1">
            <xsl:text disable-output-escaping="yes">&lt;/div&gt;&lt;div class="row  row-eq-height"&gt;</xsl:text>
          </xsl:when>
        </xsl:choose>

        <div class="col-xs-12 col-sm-6 col-md-3 product-cell">
          <div class="thumbnail">
            <xsl:call-template name="ProductCell"></xsl:call-template>
          </div>
        </div>
      </xsl:template>

      <xsl:template name="ProductCell">
        <xsl:param name="SalePrice">
          <xsl:choose>
            <xsl:when test="SalePrice=''">
              0
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="SalePrice" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="plink" select="concat('p-', /root/FeaturedProducts/FeaturedProduct/ProductID, '-', /root/FeaturedProducts/FeaturedProduct/SEName, '.aspx')"></xsl:param>

        <xsl:param name="SKU" select="FeaturedProducts/FeaturedProduct/SKU"></xsl:param>
        <xsl:param name="SKUSuffix" select="/root/FeaturedProducts/FeaturedProduct/SKUSuffix"></xsl:param>
        <xsl:variable name="Name" select="/root/FeaturedProducts/FeaturedProduct/NAME"></xsl:variable>
        <xsl:variable name="apos">'</xsl:variable>
        <a>
          <xsl:attribute name="href">

            <xsl:value-of select="largeimage"></xsl:value-of>
          <!--<xsl:value-of select="concat('~/p-', ProductID, '-', SEName, '.aspx')"/>-->
          </xsl:attribute>
          <xsl:attribute name="data-lightbox">
            <xsl:value-of select="concat('ProductPic', ProductID)"></xsl:value-of>
          </xsl:attribute>
          <xsl:attribute name="data-title">
            <xsl:value-of select="$Name"></xsl:value-of>
          </xsl:attribute>
          <xsl:attribute name="class">
            <xsl:text>thumbnail</xsl:text>
          </xsl:attribute>
          <img class="product-image img-responsive">
            <xsl:attribute name="id">
              <xsl:value-of select="concat('ProductPic', ProductID)"></xsl:value-of>
            </xsl:attribute>
            <xsl:attribute name="name">
              <xsl:value-of select="SETitle"></xsl:value-of>
            </xsl:attribute>
            <xsl:attribute name="alt">
              <xsl:value-of select="SEAltText"></xsl:value-of>
            </xsl:attribute>
            <xsl:attribute name="src">
              <xsl:value-of select="iconimage"></xsl:value-of>
            </xsl:attribute>
            <xsl:attribute name="onerror">
              <xsl:text>this.src='https://new.nalpac.com/images/image-not-found.png'</xsl:text>
            </xsl:attribute>
            
          </img>
        </a>
        <div class="caption">
          <div class="guidedNavNameWrap textwrap">
            <a>
              <xsl:attribute name="href">
            <xsl:value-of select="concat('~/p-', ProductID, '-', SEName, '.aspx')"/>
              </xsl:attribute>
              <xsl:value-of select="NAME" disable-output-escaping="yes" />
            </a>
          </div>
          <div class="guidedNavPriceWrap">
            <xsl:text>Price: $</xsl:text>
            <xsl:value-of select="format-number(Price, '#.00')" disable-output-escaping="yes"/>
          </div>
          <div class="guidedNavNameWrap">
            <xsl:text>Item #:</xsl:text>
            <xsl:value-of select="SKU"></xsl:value-of>
          </div>
          <div class="guidedNavNameWrap textwrap">
            <xsl:text>Manufacturer:</xsl:text>
            <xsl:value-of select="ManufacturerPartNumber"></xsl:value-of>
          </div>
          <div class="guidedNavNameWrap">
            <xsl:text>UPC:</xsl:text>
            <xsl:value-of select="SKUSuffix"></xsl:value-of>
          </div>
          <input>
            <xsl:attribute name="type">
              <xsl:text>number</xsl:text>
            </xsl:attribute>
            <xsl:attribute name="value">
              <xsl:text>1</xsl:text>
            </xsl:attribute>
            <xsl:attribute name="name">
              <xsl:value-of select="concat('Quantity_',ProductID,'_', VariantID)" disable-output-escaping="yes" />
            </xsl:attribute>
            <xsl:attribute name="id">
              <xsl:value-of select="concat('Quantity_',ProductID,'_', VariantID)" disable-output-escaping="yes" />
            </xsl:attribute>
            <xsl:attribute name="class">
              <xsl:text>col-md-6</xsl:text>
            </xsl:attribute>
            <xsl:attribute name="maxlength">
              <xsl:text>4</xsl:text>
            </xsl:attribute>
          </input>
          <input>
            <xsl:attribute name="type">
              <xsl:text>button</xsl:text>
            </xsl:attribute>
            <xsl:attribute name="value">
              <xsl:text>Submit</xsl:text>
            </xsl:attribute>
            <xsl:attribute name="name">
              <xsl:value-of select="concat('AddToCartButton_',ProductID,'_', VariantID)" disable-output-escaping="yes" />
            </xsl:attribute>
            <xsl:attribute name="id">
              <xsl:value-of select="concat('AddToCartButton_',ProductID,'_', VariantID)" disable-output-escaping="yes" />
            </xsl:attribute>
            <xsl:attribute name="class">
              <xsl:text>col-md-6</xsl:text>
            </xsl:attribute>
          </input>
          <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <xsl:attribute name="id">
              <xsl:value-of select="concat('added-mod', ProductID,'_', VariantID)" disable-output-escaping="yes" />
            </xsl:attribute>
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                      <xsl:text>X</xsl:text>
                    </span>
                  </button>
                  <h4 class="modal-title" id="mySmallModalLabel">Added to your Cart!</h4>
                </div>
                <div class="model-body">
                  <p>
                    <a>
                      <xsl:attribute name="href">
                        <xsl:value-of select="concat('~/p-', ProductID, '-', SEName, '.aspx')"/>
                      </xsl:attribute>
                      <xsl:attribute name="class">
                        <xsl:text>thumbnail</xsl:text>
                      </xsl:attribute>
                      <img class="product-image img-responsive">
                        <xsl:attribute name="id">
                          <xsl:value-of select="concat('ProductPic', ProductID)"></xsl:value-of>
                        </xsl:attribute>
                        <xsl:attribute name="name">
                          <xsl:value-of select="SETitle"></xsl:value-of>
                        </xsl:attribute>
                        <xsl:attribute name="alt">
                          <xsl:value-of select="SEAltText"></xsl:value-of>
                        </xsl:attribute>
                        <xsl:attribute name="src">
                          <xsl:value-of select="iconimage"></xsl:value-of>
                        </xsl:attribute>
                        <xsl:attribute name="onerror">
                          <xsl:text>this.src='https://new.nalpac.com/images/image-not-found.png'</xsl:text>
                        </xsl:attribute>
                      </img>
                    </a>
                    <a>
                      <xsl:attribute name="href">
                        <xsl:value-of select="concat('~/p-', ProductID, '-', SEName, '.aspx')"/>
                      </xsl:attribute>
                      <xsl:value-of select="NAME" disable-output-escaping="yes" />
                    </a>
                    <br />
                    <span>
                      Your Price <xsl:value-of select="format-number(extprice, '#.00')" disable-output-escaping="yes"></xsl:value-of>
                    </span>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <a class="btn btn-default" href="~/shoppingcart.aspx">
                    <xsl:text>Click here view Cart</xsl:text>
                  </a>
                </div>

              </div>
            </div>
          </div>
          <div id="login-mod" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLogginModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="myLogginModalLabel">Login needed</h1>
                </div>
                <div class="modal-body">
                  <p>
                    <xsl:text>In order to better serve you and provide the best security, we ask that you login.</xsl:text>
                  </p>
                  <!--<p>With every new customer, you get 15% off your first order. Automatically.</p>-->
                </div>
                <div class="modal-footer">
                  <a class="btn btn-default" href="~/signin.aspx">

                    <xsl:text>Click here Login</xsl:text>
                  </a>
                </div>

              </div>
            </div>
          </div>
          <xsl:choose>
            <xsl:when test="/root/customers/custs/customerid = '0'">
              <script type="text/javascript">
                $(document).ready(function () {
                $('#<xsl:value-of select="concat('AddToCartButton_',ProductID,'_', VariantID)" disable-output-escaping="yes" />').click(function () {
                var isChrome = window.chrome;
                if(isChrome) {
                alert('Please Log in. ');
                } else {
                $('#login-mod').modal('show');
                }


                });
                });
              </script>
            </xsl:when>
            <xsl:otherwise>
              <script type="text/javascript">
                $(document).ready(function () {
                $('#<xsl:value-of select="concat('AddToCartButton_',ProductID,'_', VariantID)" disable-output-escaping="yes" />').click(function () {

                var quantity = $('#<xsl:value-of select="concat('Quantity_',ProductID,'_', VariantID)" disable-output-escaping="yes" />').val();
                var customerid = <xsl:value-of select="/root/customers/custs/customerid" disable-output-escaping="yes" />;
                var productid = <xsl:value-of select="ProductID"></xsl:value-of>;
                var variantid = <xsl:value-of select="VariantID"></xsl:value-of>;
                var shippingid = <xsl:value-of select="/root/customers/custs/shippingaddressid" disable-output-escaping="yes" />;
                var billingid = <xsl:value-of select="/root/customers/custs/billingaddressid" disable-output-escaping="yes" />;
                var price = <xsl:value-of select="extprice"></xsl:value-of>;
                var storeid = <xsl:value-of select="/root/customers/custs/storeid" disable-output-escaping="yes" />;

                $.ajax({

                type: 'POST',
                contentType: "application/json; charset=utf-8",
                url: 'nal_addtocart.aspx/nalpac_AddToCart',
                data: "{'customerid':'" + customerid + "','productid':'" + productid + "','variantid':'" + variantid + "','quantity':'" + quantity + "','shippingid':'" + shippingid + "','billingid':'" + billingid + "','price':'" + price + "','storeid':'" + storeid + "'}",
                async: true,
                success: function (response) {
                $('#<xsl:value-of select="concat('Quantity_',ProductID,'_', VariantID)" disable-output-escaping="yes" />').val('');
                <!--alert("Record saved successfully..!!");-->
                                var isChrome = window.chrome;
                if(isChrome) {
                alert('Product Added.');
                } else {
                $('#<xsl:value-of select="concat('added-mod', ProductID,'_', VariantID)" disable-output-escaping="yes" />').modal('show');
                }
                
                },
                error: function () {

                alert("Error");
                }
                });

                });
                });
              </script>



            </xsl:otherwise>
          </xsl:choose>
        </div>


      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>