@model NotFoundSuggestionViewModel

<div class="not-found-suggestion">
	<a href="@Model.Url" class="not-found-suggestion-link">@Model.Name</a>
	<div class="not-found-suggestion-description">
		 @Model.Description
	</div>
</div>